<h2 class="title">Flight Search</h2>

<form #form="ngForm">

  <div class="form-group">
    <label>From:</label>
    <input [(ngModel)]="from" appCity name="from" class="form-control">
  </div>

  <div class="alert alert-warning" *ngIf="form?.controls?.['from']?.hasError('appCity')">
    Invalid city!
  </div>

  <div class="form-group">
    <label>To:</label>
    <input [(ngModel)]="to" name="to" class="form-control">
  </div>
  <div class="form-group">
    <label>
      <input [(ngModel)]="urgent" name="urgent" type="checkbox">
      Urgent (When it's urgent it fails -- like in real life ;-))

    </label>
  </div>

  <div class="form-group" *ngIf="flights$ | async as flights">
    <button (click)="search()" [disabled]="!from || !to" class="btn btn-default">
      Search
    </button>

    <button *ngIf="flights.length > 0" class="btn btn-default" (click)="delay()">
      Delay 1st Flight
    </button>

    <div *ngIf="flights.length > 0">
      {{flights.length}} flights found!
    </div>

  </div>
</form>

<div class="row">
  <div *ngFor="let f of flights$ | async" class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
    <app-flight-card [item]="f" [(selected)]="basket[f.id]" />

    <!-- <flight-card [item]="f" [(selected)]="basket[f.id]">
    </flight-card> -->

  </div>
</div>

<pre>{{ basket | json }}</pre>
