<ul *ngIf="loaded$ | async">
  <li>
    <a data-testid="btn-holidays" mat-raised-button routerLink="/holidays"
      >Holidays</a
    >
  </li>
  <li>
    <a data-testid="btn-customers" mat-raised-button routerLink="/customers"
      >Customers</a
    >
  </li>
  <li>
    <a data-testid="btn-bookings" mat-raised-button routerLink="/bookings"
      >Bookings</a
    >
  </li>
  <li *ngIf="signedIn$ | async">
    <a data-testid="btn-diary" mat-raised-button routerLink="/diary">Diary</a>
  </li>
</ul>
