<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>

      <a mat-list-item routerLink="/">Home</a>
      <a mat-list-item routerLink="/flight-booking/flight-search">Flights</a>
      <a mat-list-item routerLink="/my-tickets">My Tickets</a>
      <a mat-list-item routerLink="/next-flight">Next Flight</a>
      <hr>
      <a mat-list-item routerLink="/checkin">Checkin</a>
      <hr>
      <a mat-list-item routerLink="/about">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
