<h2>Customers</h2>
<p class="my-2">
  <a [routerLink]="['.', 'new']" color="primary" mat-raised-button
    >Add Customer</a
  >
</p>

<ng-container *ngIf="viewModel">
  <div
    *ngIf="dataSource.data.length > 0; else noCustomers"
    class="my-4 max-w-screen-sm"
  >
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element | customer }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef> Country</mat-header-cell>
        <mat-cell *matCellDef="let element">{{ element.country }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="birthdate">
        <mat-header-cell *matHeaderCellDef> Birthday</mat-header-cell>
        <mat-cell *matCellDef="let element">{{
          element.birthdate | date
        }}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element"
          ><a [routerLink]="['.', element.id]">
            <mat-icon>edit</mat-icon>
          </a>
          <mat-slide-toggle
            class="ml-4"
            (change)="toggleSelection($event, element.id)"
            [checked]="element.selected"
            color="primary"
          ></mat-slide-toggle>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: displayedColumns"
        data-testid="row-customer"
      ></mat-row>
    </mat-table>
    <mat-paginator
      pageSize="10"
      showFirstLastButtons="true"
      [pageIndex]="viewModel.pageIndex"
      [length]="viewModel.length"
      (page)="switchPage.emit($event.pageIndex)"
    ></mat-paginator>
  </div>

  <ng-template #noCustomers>
    <p>We don't have any customers yet 😥</p>
  </ng-template>
</ng-container>
