/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 1rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  color: white;
  background: #2d77bb;
}

.header {
  margin: 0;
}

.logo {
  max-width: 250px;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.getStarted {
  text-align: center;
  margin-bottom: 2em;
}
