name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '18'
          cache: 'yarn'
      - run: npm install -g yarn
      - run: yarn
      - run: yarn lint:all
      - run: yarn link:sheriff
      - run: yarn test:coverage
      - run: cd test-projects/angular-i && yarn && npx ng lint
      - run: cd test-projects/angular-ii && yarn && npx ng lint
      - run: cd test-projects/angular-iii && yarn && npx ng lint
      - run: cd test-projects/angular-iiii && yarn && npx ng lint
      - run: ./run-integration-tests.sh
